.DS_Store
.dart_tool/

.packages
.pub/

build/

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
example/pubspec.lock
pubspec.lock
example/pubspec.lock
example/pubspec.lock
example/pubspec.lock
example/pubspec.lock
pubspec.lock
